extends layout

block content
  form(action="/add", method="post", enctype="multipart/form-data")
    input(type="file", name="pictureFile", id="pictureFile")
    input(type="text", name="categoryName")
    
    ul
    each category in categories
      li 
        = category.DISTINCT
    button(type="submit") Add
    