body {
	padding-top: 40px;
}

.fg-image-wrapper {
	width: 33vw;
	height: 10vh;
	background: url('/images/balls.svg') no-repeat center center;
	
	.fg-image {
		width: 100%;
		height: 100%;
		background: no-repeat center center;
		background-size: cover;
	}
}