div(class="text-center")
	button(type="button", class="fg-backToCategories btn btn-default") Back
each picture in pictures
	div(class="fg-tile-wrapper")
		a(class="fg-tile fg-image", data-thumbnail-url=picture.thumbnailUrl, data-url=picture.url, href="#")