extends ../layout/panel

block content
  form(action="/panel", method="post", class="form")
    div(class="form-group")
      label Gallery title
      input(type="text", name="title", class="form-control", id="title", value=title, required)
      
    div(class="form-group")
      label Gallery subtitle
      input(type="text", name="subtitle", class="form-control", id="subtitle", value=subtitle)
      
    div(class="form-group")
      label Footer
      input(type="text", name="footer", class="form-control", id="footer", value=footer)
    
    button(type="submit", class="btn btn-primary") Save changes