extends base

block contentWrapper
	block content
	
block scripts
	script(src="https://code.jquery.com/jquery-2.1.4.min.js")
	script(src="javascripts/FancyGallery.js")
	script.
		FancyGallery.init();
	