extends base

block head
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css")

block contentWrapper
	block content
	
	
block scripts
	script(src="https://code.jquery.com/jquery-2.1.4.min.js")
	script(src="javascripts/FancyGallery.js")
	script.
		FancyGallery.init();
	