extends base
block head
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

block contentWrapper
    div(class="container")
      div(class="row")
        div(class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3")
            p
                span Go to: 
                a(href='/panel') Configuration
                span , 
                a(href='/panel/pictures') Pictures
                span , 
                a(href='/panel/messages') Messages
                span .
            block content
